@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .custom-scrollbar {
    -ms-overflow-style: gray;
    /* IE and Edge */
    scrollbar-width: 3px;
    /* Firefox */
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3x;
  }

  /* Track */
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #c4c4c4;
    border-radius: 50%;
    height: auto !important;
  }
}

* {
  box-sizing: border-box;
}

.custom-chess-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 1)), url("/images/board_snip.png") top center;
}
